.card {
    display: flex;
    flex-direction: column;
    gap: var(--col-space, 1.5rem)
}

.card-text {
    display: flex; 
    flex-direction: column;
    gap: .5rem;
}

.card-rating {
    display: flex;
    justify-content: space-between;
}